<h1>Bem vindo ao site</h1>
<p>clique neste botao para para fazer login</p>
<a href="/login">
    <button class="btn btn-primary">Login</button>
</a>
<p>clique neste botao para para fazer cadastrar</p>
<a href="/cadastro">
    <button class="btn btn-primary">Cadastro</button>
</a>